*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans,sans-serif;
}
.App{
  display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 padding: 14px;
}
.calculator{
  width: 100%;
 max-width: 400px;
  background-color: aliceblue;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0,0, 0.2);
}
.display{
  padding: 16px;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.display span{
  font-size: 14px;
  color: rgb(150, 150, 150);
}
button{
  appearance: none;
  border: none;
  outline: none;
  color: rgb(250, 250, 250);
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
  opacity: 0.9;
}
.operators{
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  background-color: rgb(18, 105, 212);
}
.digits{
  display: flex;
  flex-wrap: wrap;

}
.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: black;
}


